<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row" ng-repeat="post in posts">
    <div class="col s12 m11">
      <div class="card">
        <div class="card-image">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h1>{{post.title}}</h1>
          <p>{{post.text}}</p>
        </div>
        <div class="card-action">
          <a href="#"><i>{{post.created_by.name}} / {{currentUser.name}}</i></a>
          <md-button>Like</md-button>
          <a class="waves-effect waves-teal btn-flat" ng-if="post.created_by.id == currentUser._id" ng-href="/post/{{post._id}}">Редактировать<i class="material-icons right">edit</i></a>
        </div>
      </div>
    </div>
  </div>
</div>